<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head') %>
    <title><%= title %></title>
</head>
<body>
    <%- include('partials/navigation') %>
    
<!-- Sobre mí -->
<section id="sobre-mi" class="py-5 pd-5 ">
  <div class="container">
    <div class="row">
      <div class="col-md-6 pt-5 pb-5 ">
        <h2 class="section-title mb-4 pt-5 fw-bolder ">IVAN <span class="text-primary fw-bolder">ALARCON</span></h2>
        <p class="lead">¡Hola! Soy <span class="text-primary fw-bold ">Ivan Fernando Alarcon</span> , un apasionado estudiante de Desarrollo de Software. Me encanta sumergirme en el mundo del código y encontrar soluciones innovadoras para los problemas.</p>
        <p class="lead">Mi enfoque está en aprender constantemente y aplicar mis conocimientos en proyectos prácticos que impacten positivamente en la sociedad.</p>
        <a href="#" class="btn btn-primary fw-bold ">Descargar CV</a>
      </div>
      <div class="col-md-6">
        <img src="img/yo-ivn.jpg" alt="Foto" class="img-fluid rounded-circle mb-1 " style="width: 500px; height: 500px; ">
      </div>
    </div>
  </div>
</section>


    <%- include('partials/footer') %>
</body>
</html>